<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/chatbot/chatbot.css">
<script
			  src="https://code.jquery.com/jquery-3.1.0.min.js"
			  integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="
			  crossorigin="anonymous"></script>
</head>
<body>
  <div class="phone-container">
        <div class="container">
          <div class="header">
            <p>< Recent</p>
            <h6>Chat with HAL</h6>
          </div>

          <ul class="chats">
            <li class="chats-left">
              Hello Dave. I am chatbot 9000. What would you like help with today?
            </li>

          </ul>
          <div class="input">
            <input type="text"/>
            <button class="submit-button">submit</button>
          </div>
        </div>
    </div>
 <script src="/static/chatbot/chatbot.js"></script>
</body>
</html>