{% extends "blog/base.html" %}

{% block title %}
<h2>Archive</h2>
<em>Total posts: {{ count }}</em>
{% endblock %}

{% block content %}
    <br/>
    <div class="archive">
    {% for item in posts|dictsortreversed:"post_date" %}
        <a href='/{{ item.slug }}/'>{{ item.title }}</a> <em>{{ item.post_date }}</em>
    {% endfor %}
    </div>
{% endblock %}

Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure reprehenderit fugiat perferendis, a numquam nihil maxime delectus voluptates. Praesentium libero eius aliquam dolorum iusto voluptates magnam consequuntur nulla commodi quos perferendis ratione distinctio sint eum expedita, fugiat minus mollitia! Quod nesciunt eos possimus iure nisi modi adipisci consectetur hic eligendi, debitis architecto, aut ullam quibusdam, blanditiis fuga laudantium quas tenetur atque. Rem architecto assumenda, in nulla nihil eaque, rerum magni impedit neque doloribus deleniti ut hic possimus distinctio excepturi, placeat sequi sint iste ratione. Eum veritatis quia harum quibusdam, excepturi reprehenderit nulla perferendis facere ex dignissimos. Quibusdam, doloremque ad. Ratione.
