<!doctype html>
<html class="no-js" lang="">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title></title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
</head>
    <body>
        <h1>pete.digital</h1>

        <h2>Welcome to my humble blog</h2>
        <em>by Peter Ringelmann - 29 November 2015</em>

        <hr/>

        <p>I finally did it.<br/>
        <br/>
        I've been threatening to start a blog for a over a year now.<br/>
        It's an essential part of any vocation to write down one's thoughts.
        Obviously the main benefit is that I contribute to the collective knowledge of my field, but explaining concepts to others also helps me understand them better myself.<br/>
        <br/>
        So why has it taken me this long?<br/>
        <br/>
        When the thought of starting a blog first started coagulating in my mind, I did what all developers do: I started dreaming up my stack.<br/>
        <br/>
        It went a little something like this:<br/>
        <br/>
        <blockquote>
            Hmmm maybe I should write my blog in node. This would be the perfect opportunity to start learning node.js: no client deadlines and the risk of uneccessary technical debt on a production project.<br/>
            <br/>
            But then again i'll probably spend more time debugging than actually blogging, which might lead me to procrastinate and never finish.<br/>
            <br/>
            In that case I should probably stick to something I know: PHP MVC or Django. That way i'll get the serverside stuff done in no time, which means I can spend more time on the design.<br/>
        </blockquote>

        <p>A month goes by</p>

        <blockquote>   
            I've been so busy lately I havn't even thought about hosting my blog, nevermind coding it. (not to mention the fact that GTA 5 just came out)<br/>
            <br/>
            Maybe I should just go with squarespace or wordpress. Ultimately it's all about the content right? Just because I'm a developer doesn't mean that wordpress is beneath me.<br/>
            <br/>
            ...<br/>
            <br/>
            I <b>refuse</b> to use wordpress. What will people think?<br/>

        </blockquote>

        <p>Another two months go by</p>
        
        <blockquote>    
            Ok so maybe I shouldn't fall into the developer trap of trying to solve the stack first.
            I'll come up with a name and some sort of content strategy first.<br/>
            <br/>The name should be equal parts smart, cool and witty. Although not too witty else people might think I'm pretentious.
            Also, I should probably avoid getting all conceptual and geeky with code syntax. (like how people use curly brackets and markup tags in their logos)<br/>
            <br/>
            In terms of content: should I take a broad approach and write about everything that interests me, or should I focus mainly on code? If the posts drift off on tangents too frequently then nobody will understand what my blog is actually about.<br/>
            <br/>
            And what about the layout? I'd like to do something slightly experimental and avante-garde. Or maybe I should just stick to convention. I'll make some time to explore a few examples of well designed blogs. (just as soon as I'm done with GTA 5)
        </blockquote>

        <p>More months go by</p>

        <blockquote>
            I've started putting together a list of subjects that I'd like to write about.<br/>
            Although I have to admit it's turned into a bit of a backlog. Most of them were jotted down a few months ago and now I can't even remember what I wanted to say.<br/>
            <br/>
            Maybe I should add little bullet points covering the main points I want to address for each subject.
            But then I might aswell just write out the whole article. Although it will need to be edited and fact-checked properly so I don't publish something that makes me sound stupid.<br/>
            <br/>
            I'll dedicate this weekend to sorting out my stack.<br/>

        </blockquote>

        <p>Another month goes by</p>

        <blockquote>
            Sometimes I wonder if this whole blog business is really a good idea at this stage in my career. I don't think I'm experienced enough to  contribute anything meaningful to the community.<br/>
            <br/>
            Maybe i'll reconsider in a year or so when I hopefully won't come across as a complete ignoramus. 
        </blockquote>

        <p>And so on.<br/>
        <br/>
        Then today something changed.<br/>
        <br/>
        I was lying in my bathtub listening to the latest <a target="blank" href="http://5by5.tv/webahead/110">The Web Ahead</a> podcast.<br/>
        The topic of disussion centered around web technology and how it compares to native applications. One of the key points highlighted was that applications often need to be approved by some form of higher authority (like the app store). In contrast, the web is a completely open platform where anybody can publish their content, no matter how poorly written, and without any prior approval.<br/>
        <br/>
        A side discussion then formed around how we as developers often don't blog enough because of our own inner critics. We worry so much about getting approval from our peers: our content, dev stack, design and writing quality are seen as reflections of how competent we are as professionals.<br/>
        <br/>
        As a result we spend too much time crafting our content to ensure it meets some vague, internally defined standard. And when it takes that much effort to write a blog post, why even bother at all?<br/>
        <br/>
        But blogging is about writing your thoughts down sowewhere.<br/> 
        That's all there is to it.<br/>
        </br/>  
        So there I sat in the luke-warm, soapy bathwater and thought to myself: <br/>"what is stopping me?"<br/>
        <br/>
        <ul>
        <li>I have a domain name. (albeit registered out of whimsical novelty when the new TLDs came out)</li>
        <li>I have a DigitalOcean droplet that I use for messing around on.</li>
        <li>On that droplet I have a working Django app already being served through gunicorn. (to serve abovementioned messing around code)</li>
        </ul>
        <p>What remains is just my inner critic's bullshit idea of what a blog is <i>supposed</i> to look like.<br/>
        With him out of the picture, nobody is standing in my way!<br/>
        <br/>

        So I got out of the bathtub and booted up my laptop. (obviously drying myself properly first - I'm not crazy)<br/>
        <br/>
        I created a new html template and just started writing. I don't have any gulp tasks or fancy html5 tags. No media queries or structured template partials. I'm not even running a database yet - this is all homegrown static html.<br/>
        <br/>
        But nevermind all that. I have my first blog post. It's not fantastically well written or insightful, but it's here.
        And that's what counts.<br/>
        <br/>
        I will be making gradual updates as I go along. (it turns out not having a database isn't all that practical)<br/>
        <br/>
        But I have a blog now. And it's online.<br/>
        <br/>
        Thank you Jen :)
        </p>
        <hr/>
    </body>
</html>

<style>
    html {
        font-family: Courier;
        padding: 20px;
        color:#445;
    }

    h1 {
        font-size: 45px;
        padding-bottom: 20px;
        border-bottom: 2px solid #445;
        margin-bottom: 0px;
    }

    h2 {
        margin-top: 50px;
        margin-bottom: 15px;
    }

    em {
        color:#99A;
        margin-bottom: 20px;
        display: block;

    }

    p, ul {
        margin-top: 45px;
        max-width: 730px;
        line-height: 1.5;
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    }

    blockquote {
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        line-height: 1.5;
        margin-left: 40px;
        max-width: 730px;
        color:#99A;
        font-style: italic;

    }


</style>
