html {
    color:#556e75;
}

.main {
    background-color: #fef6e3;
}

nav a {
    color: #efe8d5;     
}

h1 a {
    color: #fef6e3;
}

em {
    color:#00a299;
}

q {
    color:#00a399;
}


.archive a {
    color: #556e75;
}

input[type='submit'] {
    background-color: #556e75;
    color:#FDF5E6;
}

.comments {
    background-color: #efe8d5;
}

